
<head>
  <meta charset="utf-8">
  <title>Home - Statement of Strategy risk assessment - GOV.UK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <!--
  <link rel="icon" sizes="48x48" href="../../assets/images/tpr-logo-favicon.ico">
  <link rel="icon" type="image/x-icon" href="../../assets/images/tpr-logo-favicon.ico">
  -->
  <link rel="icon" href="tpr-favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="tpr-favicon.png" type="image/x-icon">
  <!--
  <link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
  <link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
  -->
  <link rel="mask-icon" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-icon-180.png">
  <link rel="manifest" href="/plugin-assets/govuk-frontend/dist/govuk/assets/manifest.json">
  <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>

<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>


