

      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong>PSR 10010021 - Dummy scheme name for testing</strong>
          <span class="govuk-phase-banner__text" style="padding-left: 518px;">
            <a class="govuk-link" href="exchange_schemes.html" style="color: #1d70b8;">Change PSR</a>
          </span>
          <!--
            <span class="govuk-phase-banner__text" style="padding-left: 625px;">
            <a class="govuk-link" href="exchange_scheme_details.html" style="color: #1d70b8;">Scheme options</a>
            &nbsp;&nbsp;
            <a class="govuk-link" href="exchange_schemes.html" style="color: #1d70b8;">Change PSR</a>
          </span>
          -->
        </p>
      </div>

    