
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->
        
        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <span class="govuk-caption-l" style="margin-bottom: 5px;">Change submitted data </span>

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Upload a file to support your changes (optional)</h1>

                    <!--
                    <div class="govuk-inset-text">
                      Lorum
                    </div>
                    -->

                    <div class="govuk-form-group" style="margin-bottom: 30px;">
                       <label class="govuk-label" for="event-name" style="margin-bottom:10px;">
                          <strong>Select a file</strong>
                       </label>
                       <div id="waste-hint" class="govuk-hint">
                          File must be a JPG, BMP, PNG, TIF or PDF, and must be smaller than 2MB.
                       </div>
                       <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                    </div>

                    <!--
                    <div class="govuk-form-group" style="padding-top: 0px; padding-bottom: 0px; margin-bottom: 30px; margin-top: 0px;">
                      <label class="govuk-label" for="event-name" style="margin-bottom:15px;">
                        <strong>Type of document</strong>
                      </label>
                      <select class="govuk-select" id="sort" name="sort" style="width: 360px;">
                        <option value="updated" selected> </option>
                        <option value="published">Physical details: Office new surface</option>
                        <option value="updated">Rent details: New annual rent</option>
                        <option value="updated">Rent details: New VAT</option>
                      </select>
                    </div>
                    -->

                    <div class="govuk-form-group" style="margin-bottom:35px;">
                      <label class="govuk-label" for="event-name" style="margin-bottom:10px;">
                        <strong>Tell us what this file is about</strong>
                      </label>
                      <div id="more-detail-hint" class="govuk-hint" style="margin-bottom:20px;">
                        Do not include personal or financial information.
                      </div>
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>

                    <form action="change_data_form_12.html" style="margin-top: 40px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Continue</button>
                        &nbsp;&nbsp;
                        <a href="view_submitted_data_2.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to submission details</a>
                      </div>
                    </form>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
