
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->
        
        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <span class="govuk-caption-l" style="margin-bottom: 5px;">Change submitted data </span>

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Investment information </h1>

                    <!--
                    <div class="govuk-inset-text">
                      Lorum
                    </div>
                    -->

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Section 1 </h2>
                    </div>

                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="400"> </th>
                          <th scope="col" class="govuk-table__header" width="150"> </th>
                          <th scope="col" class="govuk-table__header"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 1</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="change_data_form_8.html" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 2</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 3</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 4</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 5</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Section 2 </h2>
                    </div>

                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="400"> </th>
                          <th scope="col" class="govuk-table__header" width="150"> </th>
                          <th scope="col" class="govuk-table__header"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 1</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 2</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 3</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 4</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 5</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Section 3 </h2>
                    </div>

                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="400"> </th>
                          <th scope="col" class="govuk-table__header" width="150"> </th>
                          <th scope="col" class="govuk-table__header"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 1</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 2</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 3</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 4</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question 5</th>
                          <td class="govuk-table__cell">Response</td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                      </tbody>
                    </table>

                    <!--
                    <div class="govuk-form-group" style="margin-top: 40px;margin-bottom: 30px;">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" style="margin-bottom: 0px;">
                          <h3 class="govuk-heading-m">
                            Have you made all the changes you need to tell us about?
                          </h3>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios" style="margin-top: 0px;">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="option-1" name="link" type="radio" value="option-1">
                                <label class="govuk-label govuk-radios__label" for="option-1">
                              Yes, I have made all the changes
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="option-2" name="link" type="radio" value="option-2">
                                <label class="govuk-label govuk-radios__label" for="option-2">
                              No, I will finish them later
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    -->

                    <form action="change_data_form_2.html" style="margin-top: 40px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Continue</button>
                        &nbsp;&nbsp;
                        <a href="scheme_details.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to submission details</a>
                      </div>
                    </form>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
