
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->

        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">Schemes valuation data</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="svd_submittion_details.html">Submittion 19/04/2022</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="submittion_svd_details.html">Submitted data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <span class="govuk-caption-l" style="margin-bottom: 5px;">Change data</span>

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Investment information</h1>

                    <h2 class="govuk-heading-m" style="font-size: 22px;margin-bottom: 20px;">Section</h2>

                    <fieldset class="govuk-fieldset">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-1">
                          Question
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-2">
                          Question
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-town">
                          Question
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-county">
                          Question
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-county" name="addressCounty" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                          Question
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
                      </div>
                    </fieldset>

                    <form action="#0" style="margin-top: 20px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Save changes</button>
                        &nbsp;&nbsp;
                        <a href="view_submitted_data.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to submitted data page</a>
                      </div>
                    </form>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>

            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
