
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->
        
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="manage_submissions_1.html">Manage submissions</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="manage_submissions_2.html">Valuation 10001233</a>
            </li>
          </ol>
        </nav>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <!-- <span class="govuk-caption-l" style="margin-bottom: 5px;">PSR 123456789</span> -->

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Valuation 10001233</h1>

                    <!--
                    <h2 class="govuk-heading-m" style="font-size: 22px;" style="margin-bottom: 5px;">View schemes valuation data</h2>
                    -->

                    <table class="govuk-table" style="margin-bottom: 40px;">
                      <!--<caption class="govuk-table__caption govuk-table__caption--m">Active pension schemes</caption>-->
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header app-custom-class">Submission ID </th>
                          <th scope="col" class="govuk-table__header app-custom-class">Data product submission</th>
                          <!--
                          <th scope="col" class="govuk-table__header app-custom-class">Submitter</th>
                          <th scope="col" class="govuk-table__header app-custom-class">Submission date</th>
                          -->
                          <th scope="col" class="govuk-table__header app-custom-class">Status</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell"><a href="manage_submissions_3.html" style="color:#1d70b8;text-decoration: none;">10001233-a</a></td>
                          <td class="govuk-table__cell">Statement of Strategy</td>
                          <!--
                          <td class="govuk-table__cell">Peter Coward-Williams</td>
                          <td class="govuk-table__cell">02/09/2021</td>
                          -->
                          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" style="max-width: 240px;">In progress </strong></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">10001233-b</a></td>
                          <td class="govuk-table__cell">S179 Valuation</td>
                          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" style="max-width: 240px;">In review </strong></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">10001233-c</a></td>
                          <td class="govuk-table__cell">NRC Valuation</td>
    
                          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Accepted </strong></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">10001233-d</a></td>
                          <td class="govuk-table__cell">Asset</td>
    
                          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Accepted </strong></td>
                        </tr>
                      </tbody>
                    </table>

                    <a href="submit_svd_1.html"><button type="submit" class="govuk-button" data-module="govuk-button">New submission</button></a>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

    <style>

      tr.hover:hover {color: #000000;background-color: #f2f2f2;}

    </style>

</body>

</html>
