
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->

        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">Schemes valuation data</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="svd_submission_details.html">Submission 19/04/2022</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="sos_risk_assessment_details.html">SoS risk assessment</a>
            </li>
          </ol>
        </nav>

        <!-- <a href="javascript:window.history.back();" class="govuk-back-link">Back</a> -->
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <!-- <span class="govuk-caption-l" style="margin-bottom: 5px;">PSR 123456789</span> -->

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">SoS risk assessment &nbsp;<strong class="govuk-tag" style="vertical-align: middle;">In progress </strong></h1>

                    <!--<h2 class="govuk-heading-m" style="font-size: 22px;">SoS risk assessment progress</h2>-->

                    <nav aria-label="Menu" class="govuk-header__navigation">
                        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden="">
                          Menu
                        </button>
                        <ul id="navigation" class="govuk-header__navigation-list">
                          <li class="govuk-header__navigation-item" style="text-align: center;margin-right: 3px;">
                            <span style="color: #505a5f;font-weight: 400;text-decoration: none;font-size: 12px;">STEP 1 </span>
                            <div style="width:120px;height:10;background:#000000;margin-bottom: 10px;margin-top: 5px;"></div>
                            <a href="#0" style="color: #000000;font-weight: 700;text-decoration: none;">SVD <br>received </a>
                          </li>
                          <li class="govuk-header__navigation-item" style="text-align: center;margin-right: 3px;">
                            <span style="color: #505a5f;font-weight: 400;text-decoration: none;font-size: 12px;">STEP 2 </span>
                            <div style="width:120px;height:10;background:#000000;margin-bottom: 10px;margin-top: 5px;"></div>
                            <a href="#0" style="color: #000000;font-weight: 700;text-decoration: none;">SoS <br>generated </a>
                          </li>
                          <li class="govuk-header__navigation-item" style="text-align: center;margin-right: 3px;">
                            <span style="color: #505a5f;font-weight: 400;text-decoration: none;font-size: 12px;">STEP 3 </span>
                            <div style="width:120px;height:10;background:#f2f2f2;margin-bottom: 10px;margin-top: 5px;"></div>
                            <a href="#0" style="color: #000000;font-weight: 400;text-decoration: none;">SoS <br>Signed-off </a>
                          </li>
                          <li class="govuk-header__navigation-item" style="text-align: center;margin-right: 3px;">
                            <span style="color: #505a5f;font-weight: 400;text-decoration: none;font-size: 12px;">STEP 4 </span>
                            <div style="width:120px;height:10;background:#f2f2f2;margin-bottom: 10px;margin-top: 5px;"></div>
                            <a href="#0" style="color: #000000;font-weight: 400;text-decoration: none;">SoS <br>risk assessed</a>
                          </li>
                          <li class="govuk-header__navigation-item" style="text-align: center;">
                            <span style="color: #505a5f;font-weight: 400;text-decoration: none;font-size: 12px;">STEP 5 </span>
                            <div style="width:120px;height:10;background:#f2f2f2;margin-bottom: 10px;margin-top: 5px;"></div>
                            <a href="#0" style="color: #000000;font-weight: 400;text-decoration: none;">SoS <br>risk accepted</a>
                          </li>
                        </ul>
                    </nav>

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="margin-top: 30px;">

                    <h2 class="govuk-heading-m" style="font-size: 22px;margin-top: 30px;">Progress report</h2>

                    <p class="govuk-body"><strong>Vitae convallis viverra tellus nullam aliquet leo sed elit varius venenatis dapibus bibendum purus molestie euismod ipsum rhoncus. Vestibulum ultrices massa ut justo ornare commodo. Sed sed tincidunt velit fusce rhoncus metus id tincidunt sollicitudin.</strong></p>

                    <p class="govuk-body" style="margin-top: 10px;margin-bottom: 30px;">
                      <a href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Download progress report (pdf)</a>
                    </p>

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body">
                        STEP 1 
                        <br>
                        <strong>Submit Scheme Valuation Data</strong>
                        <br>
                        <strong class="govuk-tag govuk-tag--green" style="margin-top:10px;">SVD received </strong>
                        <br>
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit quisque consectetur nulla ac blandit lacinia odio quam interdum nisl a aliquam nisl elit sit amet metus aliquam mattis arcu quam, feugiat iaculis nunc scelerisque sed. Nunc ligula sapien pulvinar at nisl vitae convallis viverra tellus nullam aliquet leo sed elit varius venenatis dapibus bibendum purus molestie euismod ipsum rhoncus. Vestibulum ultrices massa ut justo ornare commodo. Sed sed tincidunt velit fusce rhoncus metus id tincidunt sollicitudin. Suspendisse potenti nulla non nulla eget libero finibus ultrices sed eu nisl praesent dui ligula condimentum et augue lobortis ullamcorper fermentum eros pellentesque rutrum purus ac mattis auctor. Praesent vel nisi orci integer viverra arcu et sodales scelerisque aenean faucibus quam ut eleifend fringilla.
                    </p>

                    <form action="svd_submission_details.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">View received scheme valuation data</button>
                      </div>
                    </form>

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body">
                        STEP 2 
                        <br>
                        <strong>Generate Statement of Strategy</strong>
                        <br>
                        <strong class="govuk-tag govuk-tag--green" style="margin-top:10px;">SoS generated </strong>
                        <br>
                        <br>
                        Aliquam nisl elit sit amet metus aliquam mattis arcu quam, feugiat iaculis nunc scelerisque sed. Nunc ligula sapien pulvinar at nisl vitae convallis viverra tellus nullam aliquet leo sed elit varius venenatis dapibus bibendum purus molestie euismod ipsum rhoncus libero finibus ultrices sed eu nisl praesent dui ligula condimentum et augue lobortis ullamcorper fermentum eros pellentesque rutrum purus ac mattis auctor. 
                    </p>

                    <form action="#0" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">View generated Statement of Strategy</button>
                      </div>
                    </form>

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body">
                        STEP 3 
                        <br>
                        <strong>Sign-off the Statement of Strategy</strong>
                        <br>
                        <strong class="govuk-tag govuk-tag--orange" style="margin-top:10px;">Pending </strong>
                        <br>
                        <br>
                        Convallis viverra tellus nullam aliquet leo sed elit varius venenatis dapibus bibendum purus molestie euismod ipsum rhoncus. Vestibulum ultrices massa ut justo ornare commodo. Sed sed tincidunt velit fusce rhoncus metus id tincidunt sollicitudin. Suspendisse potenti nulla non nulla eget libero finibus ultrices sed eu nisl praesent dui ligula condimentum et augue lobortis ullamcorper fermentum eros pellentesque rutrum purus ac mattis auctor. Praesent vel nisi orci. Integer viverra arcu et sodales scelerisque.
                    </p>

                    <!--
                    <form action="svd_submission_details.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">View signed-off Statement of Strategy</button>
                      </div>
                    </form>
                    -->

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body">
                        STEP 4 
                        <br>
                        <strong>Assess the risk of Statement of Strategy</strong>
                        <br>
                        <strong class="govuk-tag govuk-tag--orange" style="margin-top:10px;">Pending </strong>
                        <br>
                        <br>
                        Consectetur nulla ac blandit lacinia odio quam interdum nisl a aliquam nisl elit sit amet metus aliquam mattis arcu quam, feugiat iaculis nunc scelerisque sed. Nunc ligula sapien pulvinar at nisl vitae convallis viverra tellus nullam aliquet leo sed elit varius venenatis dapibus bibendum purus molestie euismod ipsum rhoncus. Vestibulum ultrices massa ut justo ornare commodo. Sed sed tincidunt velit fusce rhoncus metus id tincidunt sollicitudin. Suspendisse potenti nulla non nulla eget libero finibus ultrices sed.
                    </p>

                    <!--
                    <form action="svd_submission_details.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">View Statement of Strategy assessment</button>
                      </div>
                    </form>
                    -->

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body">
                        STEP 5 
                        <br>
                        <strong>Accept the risk of Statement of Strategy</strong>
                        <br>
                        <strong class="govuk-tag govuk-tag--orange" style="margin-top:10px;">Pending </strong>
                        <br>
                        <br>
                        Viverra tellus nullam aliquet leo sed elit varius venenatis dapibus bibendum purus molestie euismod ipsum rhoncus. Integer viverra arcu et sodales scelerisque quam interdum nisl a aliquam nisl elit sit amet metus aliquam mattis arcu quam, feugiat iaculis nunc scelerisque sed. Nunc ligula sapien pulvinar at nisl vitae.
                    </p>

                    <!--
                    <form action="svd_submission_details.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">View Statement of Strategy acceptation</button>
                      </div>
                    </form>
                    -->

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>

                <!--
                <div class="govuk-grid-column-one-third">

                    <div class="card">
                        <div style="color: #000000; background-color: #ededed; padding: 20px 20px 10px 20px;height: 385;">
                          <p class="govuk-heading-m card-heading" style="font-size: 22px;">Need help? </p>
                          <p>Text</p>
                          <p class="govuk-body white-link"><a href="#0" style="text-decoration: underline;" class="white-link">Link</a></p>
                        </div>
                    </div>

                </div>
                -->

            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

    <style type="text/css">

        body { overflow: hidden;}

        .hmcts-progress-bar__icon--complete {
          background-image: url(../../assets/images/icon-progress-tick.png);
        }

        .hmcts-progress-bar-vertical .hmcts-progress-bar__list-item  { width:100px; display:inline-block }
        .hmcts-progress-bar-vertical .hmcts-progress-bar__icon { background-color: #fff;border: 4px solid #CECECE}
        .hmcts-progress-bar-vertical .hmcts-progress-bar__icon--complete {  background-color: #1D70B8; border: 4px solid #1D70B8}
        .hmcts-progress-bar-vertical .hmcts-progress-bar__list::before { border-top: 4px solid #CECECE; }
        .hmcts-progress-bar-vertical .hmcts-progress-bar__list-item[aria-current=step] span.hmcts-progress-bar__icon {  background-color:#1D70B8; border:4px solid #1D70B8 }

        @media screen and (max-width:1200px) {

        .hmcts-progress-bar-vertical .hmcts-progress-bar__list-item { max-width:45px; display:block; margin-top: 10px; }
        .hmcts-progress-bar-vertical .hmcts-progress-bar__list::before { border-top:none; position:absolute; top: 0px; border-left: 6px solid #CECECE; height: 100%; position:absolute; left:20px; top:0; }
        .hmcts-progress-bar-vertical .hmcts-progress-bar__label { margin-top:-25px; margin-left:50px; width:350px; text-align:left }

        }
          
    </style>

</body>

</html>
