
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->
        
        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <!-- <a href="javascript:window.history.back();" class="govuk-back-link">Back</a> -->
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 50px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <!-- <span class="govuk-caption-l" style="margin-bottom: 5px;">PSR 123456789</span> -->

                    <div class="govuk-panel govuk-panel--confirmation" style="background-color: #0381a2;">
                      <h1 class="govuk-panel__title">Submission complete</h1>
                      <div class="govuk-panel__body" style="font-size: 2.25rem;">Your reference number is<br><strong>HDJ2123F</strong></div>
                    </div>

                    <p class="govuk-body">We have sent you a confirmation email.</p>

                    <p class="govuk-body">
                      <a href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Download a PDF copy of your scheme valuation data submission</a>
                    </p>

                    <h2 class="govuk-heading-m" style="font-size: 22px;margin-top: 15px;">What happens next</h2>

                    <p class="govuk-body">
                      We’ve sent your submission to our actuarial team.
                    </p>

                    <p class="govuk-body">
                      They will contact you to confirm your submission has been accepted or ask for more information.
                    </p>

                    <p class="govuk-body">
                      If we need more information, we will send you an email. You will then be able to update the data, supply more information or attach additional support documents.
                    </p>

                    <p class="govuk-body">
                      <a href="svd_submittion_details.html" style="color: #1d70b8;display:flex;vertical-align:middle;">View submission details</a>
                    </p>

                    <!--
                    <p class="govuk-body">
                      <a href="sos_risk_assessment.html" style="color: #1d70b8;display:flex;vertical-align:middle;">View Statement of Strategy risk assessment progress</a>
                    </p>
                    -->

                    <br>
                    <br>
                    <br>

                    <p class="govuk-body">
                      <a href="#0" style="color: #1d70b8;">What did you think of this service?</a> &nbsp;(takes 30 seconds)
                    </p>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
