
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->

        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <!-- <span class="govuk-caption-l" style="margin-bottom: 5px;">PSR 123456789</span> -->

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Submit scheme valuation data</h1>

                    <p class="govuk-body">Use this service to submit valuation information for your defined benefit (DB) scheme. We use the information you provide us to check that your scheme is appropriately funded and meets your statutory funding objectives.</p>

                    <h2 class="govuk-heading-m" style="font-size: 22px;">How to use this service</h2>

                    <p class="govuk-body">You'll need to submit:</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>a trustee assessment</li>
                      <li>actuarial information</li>
                      <li>investment information</li>
                      <li>covenant information</li>
                      <li>a copy of the actuarial valuation</li>
                      <li>the signed statement of strategy</li>
                    </ul>

                    <p class="govuk-body">If your scheme is in deficit at the valuation effective date, you must also submit a:</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>copy of the schedule of contributions</li>
                      <li>copy of the recovery plan</li>
                    </ul>

                    <!-- <a href="submit_2.html"><button type="submit" class="govuk-button" data-module="govuk-button">Continue</button></a> -->

                    <br>

                    <a href="submit_2.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="background-color: #0381a2;">
                      Start now
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
