
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 50px;">
                  
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <!-- <span class="govuk-caption-l" style="margin-bottom: 5px;">PSR 123456789</span> -->

                    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Respond TPR request</h1>

                    <div class="govuk-inset-text">
                      Your responses will generate an annotation to be approved by the chair of trustee. Once the chair of trustee approve the annotation, it will be attached to the Statement of Strategy. <br><br>
                      Changing data from TPR requests will not change the Statement of Strategy.
                    </div>

                    <h2 class="govuk-heading-l" style="margin-bottom: 10px;font-size: 24px;">Request 1: Change data </h2>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="three-quarters" style="margin-bottom: 10px;">
                        <strong>Respond missing question "Lorum colabra senatus summus est?" </strong>
                      </label>
                      <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters" type="text">
                    </div>

                    <h2 class="govuk-heading-l" style="margin-bottom: 10px;font-size: 24px;">Request 2: Change data </h2>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="one-quarter" style="margin-bottom: 10px;">
                        <strong>Update value "7" to "7,000" in question "Dolore provocas sempre?"
                      </label>
                      <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false" value="7">
                      </div>
                    </div>

                    <h2 class="govuk-heading-l" style="margin-bottom: 10px;font-size: 24px;">Request 3: Respond an enquiry </h2>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="one-third" style="margin-bottom: 5px;">
                        <strong>Why the deviation in question "Caesar romano seratis" is too high from last year? </strong>
                      </label>
                      <div id="more-detail-hint" class="govuk-hint">
                        Do not include financial information.
                      </div>
                      <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
                    </div>

                    <h2 class="govuk-heading-l" style="margin-bottom: 10px;font-size: 24px;">Request 4: Additional information </h2>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="one-third" style="margin-bottom: 10px;">
                        <strong>Attach evidence of deviation </strong>
                      </label>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="file-upload-1">
                          Upload a file
                        </label>
                        <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
                      </div>
                    </div>

                    <div class="govuk-button-group" style="margin-bottom: 10px;margin-top: 20px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Declaration </h2>
                    </div>

                    <p class="govuk-body">By submitting your respond, you are confirming that, to the best of your knowledge, the details you are providing are correct, and you understand it is a criminal offence under section 80 of the Pensions Act 2004 to knowingly or recklessly supply false or misleading information to The Pensions Regulator.</p>

                    <form action="tpr_request_5.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Submit your responses</button>
                      </div>
                    </form>

                    <!--<a href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Download a PDF copy</a>-->

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>

            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}


</body>

</html>
