
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 50px;">
                  
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <!-- <span class="govuk-caption-l" style="margin-bottom: 5px;">PSR 123456789</span> -->

                    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Review and approve annotation for Statement of Strategy</h1>

                    <div class="govuk-inset-text">
                      You have been asked to review and approve an annotation for the signed statement of strategy generated in the scheme valuation submission 72446037 for the pension scheme PSR123456789.
                    </div>

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Pension Scheme details </h2>
                    </div>

                    <table class="govuk-table" style="margin-bottom: 25px;">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Pension Scheme</th>
                          <td class="govuk-table__cell">PSR 123456789  </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Scheme name</th>
                          <td class="govuk-table__cell">Vinculas aliquam et dolore provocas </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Scheme type</th>
                          <td class="govuk-table__cell">Occupational </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Scheme benefit type</th>
                          <td class="govuk-table__cell">Defined Benefit </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Total value of assets today</th>
                          <td class="govuk-table__cell">£4,350,947.78 </td>
                        </tr>
                        <!--
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Scheme valuation submission</th>
                          <td class="govuk-table__cell">72446037 </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Effective date</th>
                          <td class="govuk-table__cell">19/04/2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Submission date</th>
                          <td class="govuk-table__cell">23/07/2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Submitter</th>
                          <td class="govuk-table__cell">Sophia Blackburn</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Type of submission</th>
                          <td class="govuk-table__cell">Fast-track <br>More than 100 members </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Relevant date</th>
                          <td class="govuk-table__cell">24/03/2019</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Submitted SVD file</th>
                          <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8;">scheme-valuation_data_psr_12345678_v2.pdf</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Submitted supporting document</th>
                          <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8;">supporting_document_psr_12345678_version 6.pdf</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Generated statement of Strategy</th>
                          <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8;">PSR12345678-72446037-19042023.pdf</a></td>
                        </tr>
                        -->
                      </tbody>
                    </table>

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Scheme valuation submission details </h2>
                    </div>

                    <table class="govuk-table" style="margin-bottom: 25px;">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Scheme valuation submission</th>
                          <td class="govuk-table__cell">72446037 </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Effective date</th>
                          <td class="govuk-table__cell">19/04/2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Submission date</th>
                          <td class="govuk-table__cell">23/07/2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Submitter</th>
                          <td class="govuk-table__cell">Sophia Blackburn</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Type of submission</th>
                          <td class="govuk-table__cell">Fast-track <br>More than 100 members </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Relevant date</th>
                          <td class="govuk-table__cell">24/03/2019</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Submitted SVD file</th>
                          <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8;">scheme-valuation_data_psr_12345678_ v2.pdf</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Submitted supporting document</th>
                          <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8;">supporting_document_psr_12345678_ve rsion_6.pdf</a></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Statement of Strategy details </h2>
                    </div>

                    <table class="govuk-table" style="margin-bottom: 25px;">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Signed Statement of Strategy</th>
                          <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8;">PSR12345678-72446037-19042023-Signed.pdf</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Signer chair of trustee </th>
                          <td class="govuk-table__cell">Michael Sumerfield</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Sign-off date</th>
                          <td class="govuk-table__cell">24/07/2023</td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">TPR request details </h2>
                    </div>

                    <table class="govuk-table" style="margin-bottom: 25px;">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Request date</th>
                          <td class="govuk-table__cell">29/07/2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Number of requests</th>
                          <td class="govuk-table__cell">4</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Request 1: Change data</th>
                          <td class="govuk-table__cell">Respond question "Lorum colabra senatus summus est?"</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Request 2: Change data</th>
                          <td class="govuk-table__cell">Update value "7" to "7,000" in question "Dolore provocas sempre?"</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Request 3: Respond an enquiry</th>
                          <td class="govuk-table__cell">Why the deviation in question "Caesar romano seratis" is too high from last year? </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Request 4: Additional information</th>
                          <td class="govuk-table__cell">Attach evidence of deviation </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Annotation details in repond to TPR request</h2>
                    </div>

                    <table class="govuk-table" style="margin-bottom: 25px;">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                          <th scope="col" class="govuk-table__header" width="300"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Annotation number</th>
                          <td class="govuk-table__cell">1</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Responder to TPR request</th>
                          <td class="govuk-table__cell">Sophia Blackburn</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Response date</th>
                          <td class="govuk-table__cell">30/07/2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Request 1: Change data <br></th>
                          <td class="govuk-table__cell">Respond question "Lorum colabra senatus summus est?" <br> <strong>Change:</strong> 120</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Request 2: Change data</th>
                          <td class="govuk-table__cell">Update value "7" to "7,000" in question "Dolore provocas sempre?" <br><strong>Change:</strong> 7,000</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Request 3: Respond an enquiry</th>
                          <td class="govuk-table__cell">Why the deviation in question "Caesar romano seratis" is too high from last year? <br> <strong>Response:</strong> Vinculas esperatus et sobrinas calumnia</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Request 4: Additional information</th>
                          <td class="govuk-table__cell">Attach evidence of deviation <br> <strong>Attachment:</strong> <a href="#0">document-evidence-deviation-30072023.pdf</a></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="govuk-warning-text" style="margin-bottom: 20px;">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        The annotation to the Statement of Strategy will be regarded by us as fully complying with the requirements referred to in Appendix 1, page 44 of the funding code of practice and the statutory requirement under regulation 8(7)(a) of the Scheme Funding Regulations (SI 2005/3377) and Occupational Pensions Schemes (Funding and investment Strategy and Amendment) Regulations 2023.
                      </strong>
                    </div>

                    <div class="govuk-button-group" style="margin-bottom: 10px;margin-top: 20px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Declaration </h2>
                    </div>

                    <p class="govuk-body">By approving this annotation for the Statement of Strategy, you are confirming that, to the best of your knowledge, the details you are providing are correct, and you understand it is a criminal offence under section 80 of the Pensions Act 2004 to knowingly or recklessly supply false or misleading information to The Pensions Regulator.</p>

                    <form action="trustee_approval_3.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Approve annotation</button>
                      </div>
                    </form>

                    <!--<a href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Download a PDF copy</a>-->

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>

            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}


</body>

</html>
