
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header_beta.html" %}

    <div class="govuk-width-container">

      {% include "includes/beta_bar.html" %}

      {% include "includes/psr_bar.html" %}

    <!--
    {% include "includes/beta.html" %}
    -->

        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <h1 class="govuk-heading-l" style="margin-bottom: 30px;">Use the recovery plan service</h1> 

                    <div class="govuk-inset-text">
                      This service is not for schemes with a valuation effective date of before 22 September 2024.  
                    </div>

                    <p class="govuk-body">You have indicated that your scheme is before this date. If your scheme’s valuation effective date is before 22 September 2024, and the scheme was in deficit on that date, use the <a href="#" class="govuk-link" style="color: #1d70b8;">Recovery plan service through Exchange</a>.</p>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
