
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header_beta_2.html" %}

    <div class="govuk-width-container">

      {% include "includes/beta_bar.html" %}

      {% include "includes/psr_bar_mvp4.html" %}

    <!--
    {% include "includes/beta.html" %}
    -->

        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                      <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                          Important
                        </h2>
                      </div>
                      <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                          You have 1 pending task that expires in 14 days.
                          <!--<a class="govuk-notification-banner__link" href="#">View task</a>.-->
                        </p>
                      </div>
                    </div>

                    <h1 class="govuk-heading-l" style="margin-bottom: 30px;">Manage submissions</h1>

                    <!--<p class="govuk-body">You can manage all your submissions from this page.</p>-->

                    <table class="govuk-table" style="margin-bottom: 40px;">
                      <!--<caption class="govuk-table__caption govuk-table__caption--m">Active pension schemes</caption>-->
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header app-custom-class" width="350">Submission</th>
                          <th scope="col" class="govuk-table__header app-custom-class" width="100">Period</th>
                          <th scope="col" class="govuk-table__header app-custom-class" width="100">Tasks</th>
                          <th scope="col" class="govuk-table__header app-custom-class" style="text-align: right;">Status</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell"><a href="submittions_landingpage.html" style="color:#1d70b8;text-decoration: none;">Statement of Strategy</a></td>
                          <td class="govuk-table__cell">2 years</td>
                          <td class="govuk-table__cell">5</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-tag">In review</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">Scheme return</a></td>
                          <td class="govuk-table__cell">2 years</td>
                          <td class="govuk-table__cell">1</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-tag govuk-tag--yellow">Pending</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">S179 valuation</a></td>
                          <td class="govuk-table__cell">1 year</td>
                          <td class="govuk-table__cell">1</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-tag govuk-tag--green">Accepted</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">NCR valuation</a></td>
                          <td class="govuk-table__cell">1 year</td>
                          <td class="govuk-table__cell">2</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-tag govuk-tag--green">Accepted</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">Assets</a></td>
                          <td class="govuk-table__cell">1 year</td>
                          <td class="govuk-table__cell">2</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-tag govuk-tag--green">Accepted</strong></td>
                        </tr>
                      </tbody>
                    </table>

                    <form action="scheme_submission_type.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">New submission</button>
                        &nbsp;&nbsp;
                        <a href="scheme_details.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Return to pension scheme details</a>
                      </div>
                    </form>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
