
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header_beta_3.html" %}

    <div class="govuk-width-container">

      {% include "includes/beta_bar.html" %}

      {% include "includes/psr_bar_mvp4.html" %}

    <!--
    {% include "includes/beta.html" %}
    -->

        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <!--
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="margin-top: 0px;margin-bottom: 30px;">
                      <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                          Important
                        </h2>
                      </div>
                      <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                          This service is only for schemes with a valuation effective date on or after 22 September 2024.
                        </p>
                      </div>
                    </div>
                    -->

                    <span class="govuk-caption-l" style="margin-bottom: 5px;">Submit statement of strategy</span>

                    <h1 class="govuk-heading-l" style="margin-bottom: 30px;">Submission tasks overview</h1>

                    <!--

                    <p class="govuk-body">Submit statement of strategy involve 3 teasks: </p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>Submit the valuation data spreadsheet (to be completed by the actuarial). </li>
                      <li>Generate the statement of strategy document using the valuation data (to be completed by TPR).</li>
                      <li>Sign the statement of strategy document generated by TPR (to be completed by the chair of trustees).</li>
                    </ul>

                    <p class="govuk-body"> Once all the tasks are completed, TPR will review and assess the statement of strategy risk.</p>

                    -->

                    <!--<h2 class="govuk-heading-m" style="font-size: 24px">Submission tasks</h2>-->

                    <table class="govuk-table" style="margin-bottom: 30px;">
                      <!--<caption class="govuk-table__caption govuk-table__caption--m">Active pension schemes</caption>-->
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header app-custom-class">Task</th>
                          <th scope="col" class="govuk-table__header app-custom-class" width="125">Assigned to</th>
                          <th scope="col" class="govuk-table__header app-custom-class" width="140" style="text-align: right;">Status</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell"><a href="submit_start_page.html" style="color:#1d70b8;text-decoration: none;">1. Submit scheme valuation</a></td>
                          <td class="govuk-table__cell">Actuary</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-tag">Not yet started</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell">2. Generate statement of strategy document </td>
                          <td class="govuk-table__cell">TPR</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">Cannot start yet</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell">3. Sign statement of strategy document</td>
                          <td class="govuk-table__cell">Chair of trustees</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">Cannot start yet</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell">4. Review signed statement of strategy</td>
                          <td class="govuk-table__cell">TPR</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">Cannot start yet</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell">5. Respond enquiries (when applies)</td>
                          <td class="govuk-table__cell">Chair of trustees</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">Cannot start yet</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell">6. Assess statement of strategy risk</td>
                          <td class="govuk-table__cell">TPR</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">Cannot start yet</strong></td>
                        </tr>
                      </tbody>
                    </table>

                    <!--<h2 class="govuk-heading-m" style="font-size: 24px">Post submission tasks</h2>

                    <table class="govuk-table" style="margin-bottom: 40px;">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header app-custom-class">Task</th>
                          <th scope="col" class="govuk-table__header app-custom-class" width="125">Assigned to</th>
                          <th scope="col" class="govuk-table__header app-custom-class" width="140">Status</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell">4. Review signed statement of strategy</td>
                          <td class="govuk-table__cell">TPR</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">Cannot start yet</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell">5. Respond enquiries (when applies)</td>
                          <td class="govuk-table__cell">Chair of trustees</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">Cannot start yet</strong></td>
                        </tr>
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell">6. Assess statement of strategy risk</td>
                          <td class="govuk-table__cell">TPR</td>
                          <td class="govuk-table__cell" style="text-align: right;"><strong class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">Cannot start yet</strong></td>
                        </tr>
                      </tbody>
                    </table>

                    -->

                    <!--
                    <a href="submit_effective_date.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Start now
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a>
                    -->

                    <form action="#" style="margin-top: 0px;">
                      <div class="govuk-button-group">
                        <a href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Delete submission</a>
                      </div>
                    </form>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
