
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->
        
        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <span class="govuk-caption-l" style="margin-bottom: 5px;">Change submitted data </span>

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">What data do you want to change? </h1>

                    <!--
                    <div class="govuk-inset-text">
                      Lorum
                    </div>
                    -->

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                        <div id="waste-hint" class="govuk-hint">
                          Select all that apply
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="option-1" name="waste" type="checkbox" value="option-1">
                            <label class="govuk-label govuk-checkboxes__label" for="option-1">
                              General information
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="option-2" name="waste" type="checkbox" value="option-2">
                            <label class="govuk-label govuk-checkboxes__label" for="option-2">
                              Actuarial information
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="option-3" name="waste" type="checkbox" value="option-3">
                            <label class="govuk-label govuk-checkboxes__label" for="option-3">
                              Covenant information
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="option-4" name="waste" type="checkbox" value="option-4">
                            <label class="govuk-label govuk-checkboxes__label" for="option-4">
                              Investment information
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <!--
                    <form action="change_data_form_1.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Continue</button>
                        &nbsp;&nbsp;
                        <a href="scheme_details.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to submission details</a>
                      </div>
                    </form>
                    -->

                    <div class="govuk-button-group" style="margin-top: 40px;">
                      <a href="" onclick='myFunction()' id="link" style="text-decoration: none;">
                        <button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Continue</button>
                      </a>
                      &nbsp;&nbsp;
                      <a href="view_submitted_data_2.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to submission details</a>
                    </div>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

    <script>

      function myFunction() {

          if(document.getElementById('option-1').checked) {
              document.getElementById('link').href = "#0";
          }

          if(document.getElementById('option-2').checked) {
              document.getElementById('link').href = "#0";
          }

          if(document.getElementById('option-3').checked) {
              document.getElementById('link').href = "change_data_form_2.html";
          }

          if(document.getElementById('option-4').checked) {
              document.getElementById('link').href = "change_data_form_2.html";
          }

      }

    </script>

</body>

</html>
