
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->
        
        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <span class="govuk-caption-l" style="margin-bottom: 5px;">Change submitted data </span>

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Review your changes</h1>

                    <!--
                    <div class="govuk-inset-text">
                      Lorum
                    </div>
                    -->

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Covenant information </h2>
                    </div>

                      <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="400"> </th>
                          <th scope="col" class="govuk-table__header" width="150"> </th>
                          <th scope="col" class="govuk-table__header"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question</th>
                          <td class="govuk-table__cell">Response  </td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Investment information </h2>
                    </div>

                      <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="400"> </th>
                          <th scope="col" class="govuk-table__header" width="150"> </th>
                          <th scope="col" class="govuk-table__header"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Question</th>
                          <td class="govuk-table__cell">Response  </td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                      </tbody>
                    </table>

                    <!--

                    <div class="govuk-button-group" style="margin-bottom: 0px;margin-top: 40px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Supporting document </h2>
                    </div>

                      <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" width="400"> </th>
                          <th scope="col" class="govuk-table__header" width="150"> </th>
                          <th scope="col" class="govuk-table__header"> </th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">lorum_ipsum_est_2023.pdf</th>
                          <td class="govuk-table__cell">Colabra reramus senate et dolore </td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="color: #1d70b8">Change</a></td>
                        </tr>
                      </tbody>
                    </table>

                    -->

                    <div class="govuk-warning-text" style="margin-bottom: 20px;">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        These changes will be regarded by us as fully complying with the requirements referred to in Appendix 1, page 44 of the funding code of practice and the statutory requirement under regulation 8(7)(a) of the Scheme Funding Regulations (SI 2005/3377) and Occupational Pensions Schemes (Funding and investment Strategy and Amendment) Regulations 2023.
                      </strong>
                    </div>

                    <div class="govuk-button-group" style="margin-bottom: 10px;margin-top: 20px;">
                      <h2 class="govuk-heading-l" style="margin-bottom: 0px;font-size: 24px;">Declaration </h2>
                    </div>

                    <p class="govuk-body">By submitting your scheme valuation changes, you are confirming that, to the best of your knowledge, the details you are providing are correct, and you understand it is a criminal offence under section 80 of the Pensions Act 2004 to knowingly or recklessly supply false or misleading information to The Pensions Regulator.</p>

                    <form action="change_data_form_13.html" style="margin-top: 40px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Submit changes</button>
                        &nbsp;&nbsp;
                        <a href="view_submitted_data_2.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to submission details</a>
                      </div>
                    </form>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
