
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 50px;">
                  
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <!-- <span class="govuk-caption-l" style="margin-bottom: 5px;">PSR 123456789</span> -->

                    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Enter verification code to review and sign-off the Statement of Strategy</h1>

                    <div class="govuk-inset-text">
                      You can find the one time verification code in the email you received. <br>The code is valid for the next 5 minutes. 
                    </div>

                    <div class="govuk-form-group">
                      <div id="account-number-hint" class="govuk-hint">
                        The code must be 6 digits long
                      </div>
                      <input class="govuk-input govuk-input--width-10" id="account-number" name="accountNumber" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">
                    </div>

                    <form action="trustee_sign_off_3.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Continue</button>
                      </div>
                    </form>

                    <!--<a href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Download a PDF copy</a>-->

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>

            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}


</body>

</html>
