
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header_beta.html" %}

    <div class="govuk-width-container">

      {% include "includes/beta_bar.html" %}

      {% include "includes/psr_bar.html" %}

    <!--
    {% include "includes/beta.html" %}
    -->

        <!--
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="scheme_valuation_data.html">View and submit scheme valuation data</a>
            </li>
          </ol>
        </nav>
        -->

        <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">At the effective date was the scheme in deficit on a technical provision basis?</h1>

                    <div class="govuk-inset-text">
                      If your scheme was in deficit on the effective date of the actuarial valuation we will also need copies of the recovery plan, and the schedule of contributions.
                    </div>

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="option-1" name="whereDoYouLive" type="radio" value="option-1">
                            <label class="govuk-label govuk-radios__label" for="option-1">
                              Yes, the scheme was in deficit
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="option-2" name="whereDoYouLive" type="radio" value="option-2">
                            <label class="govuk-label govuk-radios__label" for="option-2">
                              No, the scheme was not in deficit
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <!--
                    <form action="submit_upload_valuation.html" style="margin-top: 30px;">
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Continue</button>
                        &nbsp;&nbsp;
                        <a href="exchange_scheme_options.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to scheme options</a>
                      </div>
                    </form>
                    -->

                    <div class="govuk-button-group">
                      <a href="" onclick='myFunction()' id="link" style="text-decoration: none;"><button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Continue</button></a>
                      &nbsp;&nbsp;
                      <a class="govuk-link" href="exchange_scheme_options.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to scheme options</a>
                    </div>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>

<script>
  function myFunction() {

      if(document.getElementById('option-1').checked) {
          document.getElementById('link').href = "submit_upload_deficit_documents.html";
      }

      if(document.getElementById('option-2').checked) {
          document.getElementById('link').href = "submit_upload_valuation.html";
      }

  }
</script>

