
<html lang="en" class="govuk-template">

{% include "includes/head_index.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head_index.html" %}

    {% include "includes/header_index.html" %}

    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="main-content">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <p class="govuk-heading-xl" style="margin-bottom: 0px;margin-top: 0px;color:#000000;">Prototypes</p>

                    <br>

                     <br>

                    <hr style="border: 0.5px solid grey;">

                    <p style="margin-top: 40px;margin-bottom: 20px;color:#000000;font-size: 2em;font-weight: 700;">MVP prototypes </p>

                    <p style="margin-top: 0px;">
                           <a href="mvp/iteraction-1/exchange_login.html" style="color:#1d70b8;">MVP - Iteraction 1 </a>
                    </p>

                    <p style="margin-top: 0px;">
                           <a href="mvp/iteraction-1-errors/exchange_login.html" style="color:#1d70b8;">MVP - Iteraction 1 with errors</a>
                    </p>

                    <p style="margin-top: 0px;">
                           MVP - Iteraction 2 
                    </p>

                    <br>

                    <hr style="border: 0.5px solid grey;">

                    <p style="margin-top: 40px;margin-bottom: 20px;color:#000000;font-size: 2em;font-weight: 700;">DVD prototypes 
                    </p>

                    <p style="margin-top: 0px;">
                           <a href="https://tpr-dvd-prototype-346v.onrender.com/index" style="color:#1d70b8;">Kainos, TPR and Opencast prototypes </a>
                    </p>

                    <br>
                    
                    <hr style="border: 0.5px solid grey;">

                    <p style="margin-top: 40px;margin-bottom: 20px;color:#000000;font-size: 2em;font-weight: 700;">SoS concept prototype 
                        <!--<span class="govuk-body-m" style="color:#000000;">(TPR - Kat Chartrand & Ramon Delgado)</span>--> </p>

                    <p>
                      <strong>Statement of Strategy risk assessment (version 1) </strong>
                      <br><br>ACTUARY
                      <br><a href="sos/version-1/website_1.html" style="color:#1d70b8;">Access to pension scheme</a>
                      <br><a href="#0" style="color:#1d70b8;">View pension scheme details</a>
                      <br><a href="#0" style="color:#1d70b8;">View submittion details</a>
                      <br><a href="#0" style="color:#1d70b8;">Submit new scheme valuation </a>
                      <br><a href="#0" style="color:#1d70b8;">Cancel submnittion</a>
                      <br><a href="#0" style="color:#1d70b8;">View submitted data</a>
                      <br><a href="#0" style="color:#1d70b8;">Change submitted data as an annotation</a>
                      <br><a href="#0" style="color:#1d70b8;">View generated SoS</a>
                      <br><a href="#0" style="color:#1d70b8;">View signed-off SoS</a>
                      <br><a href="#0" style="color:#1d70b8;">View TPR requests</a>
                      <br><a href="#0" style="color:#1d70b8;">Respond request as an annotation</a>
                      <br><a href="#0" style="color:#1d70b8;">View annotation</a>
                      <br><a href="#0" style="color:#1d70b8;">View SoS assessment</a>
                      <br><a href="#0" style="color:#1d70b8;">View SoS acceptation</a>
                      <br><a href="#0" style="color:#1d70b8;">View SoS rejection</a>
                      <br><br>TRUSTEE
                      <br><a href="#0" style="color:#1d70b8;">Sign-off SoS</a>
                      <br><a href="#0" style="color:#1d70b8;">Review and approve an annotation</a>
                      <br><br>TPR PANEL
                      <br><a href="#0" style="color:#1d70b8;">Access to SoS assessments</a>
                      <br><a href="#0" style="color:#1d70b8;">Generate SoS</a>
                      <br><a href="#0" style="color:#1d70b8;">Review SoS risk</a>
                      <br><a href="#0" style="color:#1d70b8;">Make a request</a>
                      <br><a href="#0" style="color:#1d70b8;">Review annotation</a>
                      <br><a href="#0" style="color:#1d70b8;">Accept SoS risk</a>
                      <br><a href="#0" style="color:#1d70b8;">Reject SoS risk</a>

                      <!--
                      <br><br>
                      <strong>Access to TPR platform </strong> 
                      <br>
                      TBD 
                      -->
                    </p>
                   
                    <br>

                    <hr style="border: 0.5px solid grey;">

                    <!--

                    <hr style="border: 0.5px solid grey;">

                    <p style="margin-top: 40px;margin-bottom: 20px;color:#000000;font-size: 2em;font-weight: 700;">Iterations <span class="govuk-body-m" style="color:#000000;">(Kainos - Ciara Smith, Brian Devlin, Claire Ryan)</span> </p>

                    <p>
                      <strong>Submit Scheme Valuation Data (Iteration 1)</strong> 
                      <br>Submit Scheme Valuation Data (no link)
                      <br><br>
                      <strong>Submit Scheme Valuation Data (Iteration 2)</strong> 
                      <br>
                      <a href="https://tpr-dvd-prototype-346v.onrender.com/iteration_2/exchange/mvp1_login" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data </a>
                    </p>

                    <br>

                    <hr style="border: 0.5px solid grey;">

                    <p style="margin-top: 40px;margin-bottom: 20px;color:#000000;font-size: 2em;font-weight: 700;">Archive <span class="govuk-body-m" style="color:#000000;">(Kainos - Ciara)</span> </p>

                    <p>
                      <strong>Submit Scheme Valuation Data </strong> 
                      <br><a href="https://tpr-dvd-prototype-346v.onrender.com/release_1/exchange/mvp1_login.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (Version 1 - tested)</a>
                      <br><a href="https://tpr-dvd-prototype-346v.onrender.com/release_1/v2/exchange/mvp1_login.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (Version 2 - not tested)</a>
                      <br><a href="https://tpr-dvd-prototype-346v.onrender.com/release_2/exchange/mvp1_login.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 3 - not tested)</a>
                      <br><br>
                      <strong>Other </strong> 
                      <br>
                      <a href="https://tpr-dvd-prototype-346v.onrender.com/documentation/documentation_index.html" target="_blank" style="color:#1d70b8;">Documentation </a> 
                    </p>
                   
                    <br>
                      
                    <hr style="border: 0.5px solid grey;">

                    <p style="margin-top: 40px;margin-bottom: 20px;color:#000000;font-size: 2em;font-weight: 700;">MVP 1 <span class="govuk-body-m" style="color:#000000;">(TPR - Ramon)</span> </p>

                    <p>
                        <strong>Submit Scheme Valuation Data </strong> 
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_10/mvp1_website_1.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 10: Signed SoS doc containing data and forms)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_9/mvp1_website_1.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 9: Using webforms - alternative to version 8)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_8/mvp1_website_1.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 8)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_7/mvp1_website_1.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 7)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_6/mvp1_login.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 6 - alternative to version 5)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_5/mvp1_login.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 5)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_4/mvp1_login.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 4)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_3/mvp1_login.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 3)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_2/mvp1_login.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 2)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_1/mvp1_login.html" target="_blank" style="color:#1d70b8;">Submit Scheme Valuation Data (version 1)</a>
                        <br><br>
                        <strong>Help and Support</strong></spam>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/mvp1/version_4/mvp1_help_and_support.html" target="_blank" style="color:#1d70b8;">Help and Support (version 1)</a>
                        <br><br>
                        <strong>Other</strong></spam>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/prototype_backlog.html" target="_blank" style="color:#1d70b8;">Prototype backlog </a> 
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/design_history/index.html" target="_blank" style="color:#1d70b8;">Design history </a>
                    </p>

                    <br>

                    <hr style="border: 0.5px solid grey;">

                    <p style="margin-top: 40px;margin-bottom: 20px;color:#000000;font-size: 2em;font-weight: 700;">Vision <span class="govuk-body-m" style="color:#000000;">(TPR - Ramon)</span> </p>

                    <p>
                        <strong>Admin create a  submission framework </strong>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_4/admin_login_1.html" target="_blank" style="color:#1d70b8;">Admin create a submission framework (version 2)</a>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_3/admin_login_1.html" target="_blank" style="color:#1d70b8;">Admin create a submission framework (version 1)</a>
                        <br><br>
                        <strong>Junior actuary upload data</strong>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_4/uploader_login_1.html" target="_blank" style="color:#1d70b8;">Junior actuary upload data (version 2)</a>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_3/uploader_login_1.html" target="_blank" style="color:#1d70b8;">Junior actuary upload data (version 1)</a>
                        <br><br>
                        <strong>Senior actuary review uploaded data</strong>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_4/reviewer_login_1.html" target="_blank" style="color:#1d70b8;">Senior actuary review uploaded data (version 2)</a>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_3/reviewer_login_1.html" target="_blank" style="color:#1d70b8;">Senior actuary review uploaded data (version 1)</a>
                        <br><br>
                        <strong>Chair Trustee sign declaration and submit</strong>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_4/signator_login_1.html" target="_blank" style="color:#1d70b8;">Chair Trustee sign declaration and submit (version 2)</a>
                        <br>
                        <a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_3/signator_login_1.html" target="_blank" style="color:#1d70b8;">Chair Trustee sign declaration and submit (version 1)</a>
                    </p>

                    <br>

                    <hr style="border: 0.5px solid grey;">

                    <p style="margin-top: 40px;margin-bottom: 20px;color:#000000;font-size: 2em;font-weight: 700;">Initial concepts <span class="govuk-body-m" style="color:#000000;">(TPR - Ramon)</span></p>
                    <p>
                        <strong>Manage scheme including submitted valuation data </strong> 
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_2/login_1.html" target="_blank" style="color:#1d70b8;">Improved concept (version 2)</a>
                        <br><a href="https://tpr-dvd-prototype-346v.onrender.com/vision/version_1/login_1.html" target="_blank" style="color:#1d70b8;">Initial concept (version 1)</a>
                    </p>

                    <br>

                    <hr style="border: 0.5px solid grey;">

                    <p style="margin-top: 40px;margin-bottom: 20px;color:#000000;font-size: 2em;font-weight: 700;">Legacy prototypes <span class="govuk-body-m" style="color:#000000;">(Opencast - Mark)</span> </p>

                    <p>
                      <td class="govuk-table__cell" width="400"><a href="https://tpr-dvd-prototype-346v.onrender.com/old_prototypes/index.html" target="_blank" style="text-decoration: none;color:#1d70b8;">Submit your scheme validation data</a> </td>
                      <td class="govuk-table__cell"></td>
                    </p>

                    <br>

                    <hr style="border: 0.5px solid grey;">

                    -->

                    <br>
                    <br>
                    <br>


                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->


                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer_index.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

</body>

</html>
